
@{
    ViewData["Title"] = "Task Approval";
}

@section Styles {

}

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-8">
                <h3 id="projectTitleName">Task Approval</h3>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid list-products">
    <div class="row">
        <!-- Individual column searching (text inputs) Starts-->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-9">
                            <h5>Approval Pending List </h5>
                        </div>                     
                    </div>
                </div>
                <div class="card-body">
                    <!--Second Card-->
                    <div class="card">
                        <div class="card-body chart-block">
                            <div>
                                <table id="pendingAppTasksTable" class="display" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Task Name</th>
                                            <th>Service Type</th>
                                            <th>Status</th>
                                            <th>Description</th>
                                            <th>Assign To</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Individual column searching (text inputs) Ends-->
    </div>
</div>


@section Scripts {
    <script src="~/scripts/ProjectMgnt/task-approval.js" asp-append-version="true"></script>
}

