@section Styles {

}

<div class="container-fluid general-widget">
    <div class="row">
        <div class="col-sm-6 col-xl-4 col-lg-6">
            <div class="card o-hidden border-0">
                <div class="bg-primary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="shopping-cart"></i></div>
                        <div class="media-body">
                            <span class="m-0">Orders</span>
                            <h5 id="cusTotOrders" class="mb-0 counter">xxxx</h5><i class="icon-bg" data-feather="shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 col-lg-6">
            <div class="card o-hidden border-0">
                <div class="bg-secondary b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="briefcase"></i></div>
                        <div class="media-body">
                            <span class="m-0">Most Preferred Contractor</span>
                            <h5 id="cusPrefContractor" class="mb-0 counter">xxxx</h5><i class="icon-bg" data-feather="briefcase"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-4 col-lg-6">
            <div class="card o-hidden border-0">
                <div class="bg-info b-r-4 card-body">
                    <div class="media static-top-widget">
                        <div class="align-self-center text-center"><i data-feather="bar-chart-2"></i></div>
                        <div class="media-body">
                            <span class="m-0">Most Preferred Vendor</span>
                            <h5 id="cusPrefVendor" class="mb-0 counter">xxxx</h5><i class="icon-bg" data-feather="bar-chart-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card" id="cusAdvertisementCardDiv">
            <div class="card-header pb-0">
                <h5></h5>
            </div>
            <div class="card-body">
                <div id="cusAdvertisement" class="owl-carousel owl-theme" >

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 xl-100 box-col-12">
            <div class="card employee-status">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h5>Recent Orders - Top 5</h5>

                </div>
                <div class="card-body">
                    <div class="user-status table-responsive">
                        <table id="cusRecentOrders" class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col">Order No</th>
                                    <th scope="col">Vendor</th>
                                    <th scope="col">Placed Date</th>
                                </tr>
                            </thead>
                            <tbody id="cusRecentOrdersBody">                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100 box-col-12">
            <div class="card">
                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h5>Recent Tasks - Top 5</h5>
                </div>
                <div class="card-body">
                    <div class="user-status table-responsive">
                        <table id="cusRecentTasks" class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col">Task Name</th>
                                    <th scope="col">Project</th>
                                    <th scope="col">Contractor</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody id="cusRecentTasksBody">                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>